---
import Layout from '../layouts/Layout.astro'
import { SignIn } from '@auth/core/components'
---

<Layout>
  <div class="flex items-center justify-center min-h-screen">
    <SignIn />
  </div>
</Layout> 