---
import Nav from '../components/Nav.astro'
// ... altri import esistenti ...
---

<html lang="it">
  <head>
    <!-- ... head content ... -->
  </head>
  <body>
    <Nav />
    <slot />
  </body>
</html> 